html,
body {
  color: #dfdfdf;
  height: 100%;
  margin: 0;
}

@font-face {
  font-family: "smileyOblique";
  src: url("../fonts/smiley_sans/SmileySans-Oblique.ttf") format("truetype");
}

h1 {
  font-family: smileyOblique;
  font-size: 8vw;
  margin-right: 15px;
  margin-bottom: 0px;
  margin-top: 0px;
}

h2 {
  font-family: smileyOblique;
  font-size: 2.5vw;
  margin-top: -15px;
  margin-right: 15px;
  padding: 0;
}

h1:hover,
h2:hover {
  color: aquamarine;
}

#sidebar {
  background-color: rgb(11, 11, 11);
  color: #ffffff;
  padding: 10px;
  width: 25%;
  height: 100%;
  text-align: right;
  float: left;
}

.projects {
  width: 73%;
  height: 85%;
  float: right;
  background-color: #ffffff;
  margin-top: 10%;
}

#description {
  width: 70%;
  text-align: right;
  float: right;
}

#description p {
  font-family: smileyOblique;
  font-size: 1vw;
  margin-right: 15px;
  margin-top: 30px;
  margin-bottom: 20px;
  line-height: 150%;
}

#description p:hover {
  color: aquamarine;
}

#profile-img {
  text-align: center;
}

#profile-img img {
  width: 80%;
}

#links {
  width: 70%;
  text-align: right;
  float: right;
}

#links a {
  font-family: smileyOblique;
  font-size: 20px;
  color: #ffffff;
  margin-top: 10px;
  margin-right: 15px;
  text-decoration: none;
  line-height: 250%;
}

#links a:hover {
  color: aquamarine;
}

/* carousel- https://codepen.io/haykou/pen/vOyXYX */

.carousel-wrapper {
  height: 600px;
  position: relative;
  width: 90%;
  margin: 0 auto;
}
.carousel-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 50px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
}

.arrow-prev {
  left: -30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
}

.arrow-next {
  right: -30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

.light {
  color: white;
}

@media (max-width: 480px) {
  .arrow,
  .light .arrow {
    background-size: 10px;
    background-position: 10px 50%;
  }
}

/*Select every element*/
[id^="item"] {
  display: none;
}

.item-1 {
  z-index: 2;
  opacity: 1;
  background: url("../img/correlation-one.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.item-2 {
  background: url("../img/fuzzy-matching.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.item-3 {
  background: url("../img/attendance.png");
  background-size: contain;
  background-repeat: no-repeat;
}

*:target ~ .item-1 {
  opacity: 0;
}

#item-1:target ~ .item-1 {
  opacity: 1;
}

#item-2:target ~ .item-2,
#item-3:target ~ .item-3 {
  z-index: 3;
  opacity: 1;
}

/* Mobile v. Desktop Displays */
.mobile-display {
  display: none;
}
.desktop-display {
  display: block;
}
@media (max-width: 1018px) {
  .desktop-display {
    display: none;
  }
  .mobile-display {
    display: block;
  }
}
