html,
body {
  color: #dfdfdf;
  height: 100%;
  margin: 0;
}

h1 {
  color: #001747;
  font-size: 5rem;
  text-align: center;
  font-family: "Henny Penny", cursive;
  font-family: "Open Sans", sans-serif;
  font-family: "Wix Madefor Display", sans-serif;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid #001747; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 3rem auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.1em; /* Adjust as needed */
  animation: typing 2.5s steps(40, end) infinite,
    blink-caret 0.3s step-end infinite;
}

h2 {
  color: #b0b0b0;
  text-align: center;
  font-family: "Henny Penny", cursive;
  font-family: "Open Sans", sans-serif;
  font-family: "Wix Madefor Display", sans-serif;
}

p {
  color: #b0b0b0;
  text-align: center;
  margin: 3rem 20rem;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  width: 12em;
  font-family: "Henny Penny", cursive;
  font-family: "Open Sans", sans-serif;
  font-family: "Wix Madefor Display", sans-serif;
}

a {
  text-decoration: none;
  display: block;
  text-align: center;
  color: #b0b0b0;
  font-family: "Henny Penny", cursive;
  font-family: "Open Sans", sans-serif;
  font-family: "Wix Madefor Display", sans-serif;
}

#profile {
  width: 20rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  margin-bottom: 4rem;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 30%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #001747;
  }
}

#footer {
  height: 5em;
}
